<% layout('layouts/boilerplate')%>
<div class="container">
    <div class="row my-3">
        <div class="col-md-6 text-left">
            <h1>My Bookings </h1>
        </div>
    </div>

    <% if(bookings.length > 0) {%>
    <% for (let campground of bookings){%>
        <div class="card mb-3">
            <div class="row">
                <div class="col-md-4">
                    <%if(campground.bookingCampground.images.length) {%>
                    <img class="img-fluid" alt="" src="<%=campground.bookingCampground.images[0].url%>">
                    <% }else {%>
                    <img class="img-fluid" alt=""
                        src="https://res.cloudinary.com/douqbebwk/image/upload/v1600103881/YelpCamp/lz8jjv2gyynjil7lswf4.png">
                    <% } %>
                </div>
                <div class="col-md-8">
                    <div class="card-body">
                        <h5 class="card-title"><%= campground.bookingCampground.title %> </h5>
                        <p class="card-text"><%= campground.bookingCampground.description %></p>
                        <p class="card-text">
                            <small class="text-muted"><%= campground.bookingCampground.location%></small>
                        </p>
                        <p class="card-text">Booking ID ; <strong><%= campground._id %></strong></p>
                        <p class="card-text">Booking Date : <strong> <%= campground.bookingDate.toJSON().slice(0,10) %></strong> </p>
                        <a class="btn btn-primary" href="/campgrounds/<%=campground.bookingCampground._id%>">View <%=campground.bookingCampground.title%></a>
                    </div>
                </div>
            </div>
        </div>
        <% }%>
    <% } %>
</div>